@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Mystery Quest', serif;
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@media only screen and (max-width: 474px) {
  #canvas {
    transform: scale(0.9);
  }

  #mainControl {
    transform: scale(0.6);
    border-radius: 15px;
    padding: 0;
    gap: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 428px) {
  #canvas {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 330px) {
  #canvas {
    transform: scale(0.6);
  }
}

@media (max-height: 815px) {
  .menu-container {
    transform: translateY(15px);
  }

  .snake-container {
    flex-direction: row;
  }

  .control-container {
    position: absolute;
    right: 0px;
    bottom: 220px;
  }
}

@media (max-height: 815px) {
  .menu-container {
    position: absolute;
    left: 450px;
    top: 0px;
    flex-direction: column;
    width: 200px;
    gap: 10px;
  }
}
